# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore dataset if needed (optional)
# data/BrentOilPrices.csv
